body, html {
    height: 100vh;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    background-color: rgb(1, 0, 18);
    overflow: hidden;
}
.btn-wrapper {
    position: absolute;
    top: 0;
    padding-top: 5rem;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 1;
    pointer-events: none;
    max-width: 100vw;
    flex-wrap: wrap;
    gap: 1rem;
}
.btn {
    border: none;
    background-color: #111;
    padding: 14px 28px;
    cursor: pointer;
    display: inline-block;
    opacity: 0.7;
    text-align: center;
    margin: 0;
    border-radius: 5px;
    text-decoration: none;
    font: 12px "Lato", sans-serif;
    color: #fff;
    pointer-events: all;
}
.btn:hover {background: rgb(89,203,232);}
.legend {
    width: 200px;
    padding: 10px;
    border: none;
    background-color: #111;
    opacity: 0.7;
    margin: 0;
    color: #fff;
    position: absolute;
    top: 250px;
    left: 1rem;
    z-index: 1;
    border-radius: 5px;
    font: 12px "Lato", sans-serif;
    text-align: left;
}
.title-wrapper{
    position: absolute;
    top: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 1;
    pointer-events: none;
}
.title {
    border: none;
    background-color: #111;
    padding: 14px 28px;
    cursor: pointer;
    display: inline-block;
    opacity: 0.7;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font: 20px "Lato", sans-serif;
    color: #fff;
    pointer-events: none;
}
.btn2 {
    width: 200px;
    padding: 10px;
    border: none;
    background-color: #111;
    opacity: 0.7;
    margin: 0;
    color: #fff;
    position: absolute;
    top: 525px;
    left: 1rem;
    z-index: 1;
    border-radius: 5px;
    font: 12px "Lato", sans-serif;
    text-align: center;
    text-decoration: none;
}
.btn2:hover {background: rgb(89,203,232);}
.loading-message{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    pointer-events: none;
    color: #fff;
}
#3d-graph {
    position: relative;
    z-index: 1;
}