@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');
body, html {
    height: 100vh;
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: rgb(1, 0, 18);
    overflow: hidden;
}
.bgimg-1 {
    position: relative;
    opacity: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bgimg-1 {
    background-image: url(./3dforcegraphimage.JPG);
    height: 100%;
}
.caption {
    position: absolute;
    left: 0;
    top: 25%;
    width: 100%;
    text-align: center;
    padding-bottom: 3rem;
}
.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 25px;
    padding-bottom: 180px;
    font-size: 25px;
    letter-spacing: 5px;
    opacity: 0.8;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
}
.info-button {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #111;
    cursor: pointer;
    z-index: 9;
}
p {
    font-size: 12px;
    margin-left: 2rem;
    margin-right: 2rem;
}
ul {
    margin: 2rem;
    padding: 0;
    list-style-type: none;
}
h3 {
    margin: 2rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    text-align: center;
}
h5 {
    margin: 2rem;
}
#3d-graph {
    position: relative;
    z-index: 1;
}
.dropbtn {
    background-color: #111;
    color: #fff;
    padding: 1.5rem;
    font-size: 12px;
    border: none;
    min-width: 200px;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
}
.dropdown {
    position: relative;
    display: inline-block;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #111;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
}
.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: "Roboto", sans-serif;
}
.dropdown-content a:hover {
    background-color: rgb(89,203,232);
}
.dropdown:hover .dropdown-content {
    display: block;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.dropdown:hover .dropbtn {
    background-color: rgb(89,203,232);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.sidepanel {
    position: fixed;
    top: 0;
    height:100vh;
    width: 350px;
    display: block;
    background-color:rgb(1, 42, 47);
    z-index:1;
    font-size:1.5em;
    line-height:1.5em;
    color:#fff;
    text-align:center;
    transition: transform 0.2s ease;
    opacity: 0.8;
    font-family: "Roboto", sans-serif;
}
.sidepanel__scrollbox {
    box-sizing: border-box;
    min-width:250px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}
.sidepanel > :last-child {
    padding-bottom: 1rem;
}
.sidepanel--left {
    left: 0;
    transform: translateX(-100%);
}
.sidepanel--right {
    right: 0;
    transform: translateX(100%);
    text-align: left;
    overflow-y: auto;
}
.sidepanel--open {
    transform: translateX(0);
}
.button {
    font-size: 40px;
    background-color: #111;
    color: #fff;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    border-color: transparent;      
}
.button img {
    width: 1rem;
    height: 1rem;
}
.button--arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 80px;
    border-radius: 40px;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    z-index: 3;
}
.options {
    font-size: 12px;
    border: none;
    padding: 0.5rem;
    background-color: #111;
    color: #fff;
    border-radius: 5px;
    opacity: 0.8;
    font-family: "Roboto", sans-serif;
}
.options-wrapper {
    top: 8rem;
    left: 0;
    gap: 2rem;
}
.options:hover {
    background-color: rgb(89,203,232);
}
hr {
    width: 80%;
    background-color:#fff;
}
.legend {
    font-family: "Roboto", sans-serif;
}
li {
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
}
.home-button {
    margin-top: 10%;
    border-radius: 5px; 
    z-index: 1;
}
.home {
    text-decoration: none;
    font-size: 16px;
    background-color: #111;
    color: #fff;
    padding: 1rem;
    border-radius: 5px; 
    font-family: "Roboto", sans-serif;
}
.circle {
    display: inline-block;
    width: 11px;
    height: 11px;
    background: hotpink;
    border: 1px solid black;
    z-index: 9;
    border-radius: 50%;
    margin-left: 2px;
    margin-top: 5px;
}
.circle--teal {
    background-color: teal;
}
